<div class="companies">
    

    <div class="companies__header">
        <h1>Liste des entreprises</h1>
        <button class="btn-add" (click)="showForm = !showForm">
            <lucide-icon name="CirclePlus" size="16" />
        </button>
    </div>
    <div class="companies__list">
        @for (company of companies; track company.id_company) {
            <div class="companies__card">
                <div>
                    <h3>{{ company.name }} - {{ company.secteur }}</h3>
                </div>
                <div class="company">
                    <lucide-icon name="Mail" size="16" />
                    <span>{{ company.email }}</span>
                </div>
                <div class="company">
                    <lucide-icon name="Phone" size="16" />
                    <span>{{ company.phone }}</span>
                </div>
                <div class="company">
                    <lucide-icon name="Info" size="16" />
                    <span>{{ company.adress }}</span>
                </div>
                <lucide-icon name="Trash2" size="16" (click)="company.id_company && delete(company.id_company)" />
            </div>
        }
        </div>

        @if (showForm) {
            <div class="overlay" (click)="showForm = false">
                <div class="companies__form" (click)="$event.stopPropagation()">
                    <h1>Nouveau contact</h1>
                <div class="companies__form-name">
                    <input [(ngModel)]="newCompany.name" placeholder="Nom" /> 
                    <input [(ngModel)]="newCompany.secteur" placeholder="Secteur" />
                </div>
                <input [(ngModel)]="newCompany.email" placeholder="Email" />
                <input [(ngModel)]="newCompany.phone" placeholder="Téléphone" />
                <input [(ngModel)]="newCompany.adress" placeholder="Adresse" />

                <div class="companies__form-action">
                    <button class="btn-save" (click)="create()" (click)="showForm = false">Ajouter</button>
                    <button class="btn-cancel" (click)="showForm = false">Annuler</button>
                </div>
            </div>
            </div>
            
        }

  
</div>

