<nav class="navbar">
    <div class="navbar__logo">
        <h1>Dashboard</h1>
    </div>
    <ul class="navbar__links">
        <li>
            <a routerLink="/" routerLinkActive="active" >
                <lucide-icon name="panels-top-left" size="18px"/>
                <span >Vue d'ensemble</span>
            </a>
            <li>
            <a routerLink="/contacts" routerLinkActive="active" >
                <span>Clients</span>
            </a>
            </li>
            <li>
            <a routerLink="/deals" routerLinkActive="active" >
                <span>Factures & devis</span>
            </a>
          
        </li>
    
    </ul>
</nav>