.navbar {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary);
    height: 100vh;
    padding: 38px;
    gap:50px;

    &__links {
        list-style: none ;
        display: flex;
        flex-direction: column;
        gap: 24px;


        a {
        color: var(--gray-500);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 4px;
    }
    }
.active {
    color: white;
    padding: 12px;
    margin-left: -12px;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: var(--radius);
}
}