<div class="deals">


    <div class="deals__header">
        <h1>Dernières ventes</h1>
        <button class="btn-add">
            <lucide-icon name="CirclePlus" size="16" />
        </button>
    </div>
    <div class="deals__list">
        @for (deal of deals; track deal.id_deal) {
        <div class="deals__card">
            <div class="deals__title">
                <h3>{{ deal.name }} </h3>
                <div class="icons">
                    <lucide-icon name="Trash2" size="16" (click)="deal.id_deal && delete(deal.id_deal)"
                        style="color: red;" />
                </div>
            </div>
            <div class="deals">
                <span>{{ deal.amount }} €</span>
            </div>
        
            <div class="contact">
                <span>{{ deal.date | date:'dd/MM/yyyy' }}</span>
            </div>
        </div>
        }
    </div>




</div>