<div class="resume">
    <h1>Bienvenue sur votre Dashboard</h1>
    <div class="resume__list">
        <div class="card">
            <span>Contacts actifs</span>
            <h1 class="badge">{{ contacts.length }}</h1>
        </div>
        <div class="card">
            <span>Entreprises partenaires</span>
            <h1 class="badge">{{ companies.length }}</h1>
        </div>
        <div class="card">
            <span>Contacts actifs</span>
            <h1 class="badge">{{ contacts.length }}</h1>
        </div>
        <div class="card">
            <span>Entreprises partenaires</span>
            <h1 class="badge">{{ companies.length }}</h1>
        </div>
    </div>

</div>